/* main styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Chakra Petch", sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-title {
    color: rgb(69, 19, 88);
    text-align: center;
    font-size: 30px;
    padding: 8px;
    animation: purplefade 15s infinite;

}

.sky {

    background-color: rgb(17, 6, 21);
    background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index: 0;

}

.twinkle {
    height: 100%;
    width: 100%;
    background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
    z-index: 1;
    animation: move-twink-back 200s linear infinite;

}


/* game board */


.game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 2px;
    row-gap: 9px;
    max-width: 340px;
    margin: 0 auto;
    margin-bottom: 1rem;
    animation: showup 3s linear;
}

.start-menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-menu h2 {
    margin-bottom: 20px;
}

.start-menu button {
    padding: 10px 20px;
    width: 200px;
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
}


.disable {
    display: none;
}

.game-letter {
    background-color: rgb(18, 5, 37);
    color: aliceblue;
    height: 53px;
    width: 53px;
    font-size: 34px;
    text-transform: uppercase;
    font-weight: bold;
    border: 3px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: rgb(18, 128, 88);

}


.close {

    background-color: rgb(172, 137, 48);


}


.wrong {
    background-color: rgb(60, 72, 68);

}

.nonValid {

    animation: redshake 0.5s linear;

}





/* animations */

@keyframes purplefade {

    100%,
    0% {
        color: rgb(155, 140, 192);
    }

    50% {
        color: rgb(255, 255, 255);
    }

    99% {
        color: rgb(155, 140, 192);
    }
}

@keyframes redshake {

    0% {
        border-color: rgb(206, 42, 42);
        margin: 0px 2px;
    }

    100% {
        border-color: #ccc;
        margin: 0 0;

    }
}

@keyframes showup {

    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;

    }
}

@keyframes rainbow {
    0% {
        background-color: blue;
    }

    50% {
        background-color: green;
    }

    100% {
        background-color: yellow;
    }
}


@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}






/* virtual keyboard */


.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}

.keyboard-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.key {
    color: rgb(210, 226, 241);
    margin: 4px;
    padding: 10px 15px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #191928;
    cursor: pointer;
}

.key:hover {
    background-color: #ddd;
    color: rgb(13, 32, 50);
}

.key:active {
    background-color: #ccc;
}

.control .key {
    width: 100px
}

/* responsive custom */

@media screen and (max-width: 850px) {

    .game-letter {

        font-size: 27px;

    }

    .main-title {
        font-size: 28px;
    }

    .game-letter {

        width: 46px;
        height: 46px;

    }

    .game {
        column-gap: 1px;
        max-width: 290px;
    }

    .key {
        font-size: 12px;
        padding: 11px 11px;
        margin: 3px 1px;
    }

    .control .key {
        padding: 10px 15px;

    }
}